
:root {
    --dark-bg: #181717;
    --dark-fc: #CCC5B9;
    --orange: #EB5E28;
    /* light mode */
    --light-bg: #FFFCF2;
    --light-fc: #403D39;
    --light-fc-hover: #d6d6d6;
}

#projectSection {
    padding: 10px 5%;
}

.proj-title {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 25px;
}

.proj-title[data-theme="dark"] {
    color: var(--dark-fc);
}

.projects {
    margin: 0px 0px 35px 0px;
    border-radius: 10px;
    object-fit: cover;
    vertical-align: center;
    transition: all .3s ease;
    min-width: 325px;
    max-width: 800px;
    height: 400px;
}

.innerProject {
    display: block;
    font-size: 22px;
    height: inherit;
    position: relative;
    top: 0px;
    opacity: .85;
    transition: .3s ease;
    z-index: 2;
}

.innerProjectLinks {
    background-color: rgba(0, 0, 0, .95);
    padding: 10px;
    width: 125px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 140px;
    border-radius: 15px;
    /* backdrop-filter: blur(5px); */
}

/* .innerProjectLinks:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter:blur(5px);
    box-shadow: inset 0 0 2000 rgba(0, 0, 0, .2);
    background: inherit;
    z-index: -1;
    border-radius: 15px;
} */

.innerProjectLinks:hover {
    font-weight: 600;
    transition: .3s ease;
    color: var(--light-fc-hover);
}

.innerProjectLinks a {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.innerProjectLinks a:hover {
    color: white;
}

.innerProjectLinks a:hover[data-theme="dark"] {
    color: white;
}

.projectImages {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 1;
    position: relative;
    top: -413px;
    transition: .4s ease;
    /* erases empty whitespace from relative positioning */
    margin-bottom: -400px;
    overflow: hidden;
}

/* for moving image position around */
#project2, #project9 {
    object-position: 0;
}

/* @media screen and (orientation: portrait) and (max-width: 440px) {
    .projects {
        width: 32% !important;
        min-width: 180px;
        /* 180px max to keep margins 
    }
} */

@media screen and (min-width: 992px) {

    .projects {
        width: 48% !important;
    }

    .innerProject {
        display: block;
        font-size: 22px;
        height: inherit;
        position: relative;
        top: 0px;
        opacity: 0;
        transition: .5s ease;
    }

    .projectImages {
        position: relative;
        top: -413px;
        margin-bottom: -400px;
    }

    .innerProject:hover {
        opacity: .9;
    }

    .innerProject:hover + .projectImages {
        opacity: .525;
    }

    .innerProjectLinks {
        background-color: rgba(0, 0, 0, .95);
        padding: 10px;
        width: 125px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 140px;
        border-radius: 10px;
    }

    .innerProjectLinks a {
        color: white;
        opacity: 1;
    }
}

@media screen and (min-width: 1200px) {

    .projects {
        width: 30% !important;
    }

    .innerProject {
        display: block;
        font-size: 22px;
        height: inherit;
        position: relative;
        top: 0px;
        opacity: 0;
        transition: .5s ease;
    }

    .projectImages {
        position: relative;
        top: -413px;
        margin-bottom: -400px;
    }

    .innerProject:hover {
        opacity: .9;
    }

    .innerProject:hover + .projectImages {
        opacity: .525;
    }

    .innerProjectLinks {
        background-color: rgba(0, 0, 0, .95);
        padding: 10px;
        width: 125px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 140px;
        border-radius: 10px;
    }

    .innerProjectLinks a {
        color: white;
        opacity: 1;
    }
}