
:root {
    --dark-bg: #181717;
    --dark-fc: #CCC5B9;
    --orange: #EB5E28;
    /* light mode */
    --light-bg: #FFFCF2;
    --light-fc: #403D39;
}

.socials {
    padding: 10px 5% !important;
    margin: 5px 0px 25px 15px;
}

.socialLinks {
    height: 50px;
    width: 95px;
    background-color: var(--light-bg);
    text-align: center;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    /* transition: 0.5s ease; */
}

.socialLinks[data-theme="dark"] {
    height: 50px;
    width: 95px;
    background-color: var(--dark-bg);
    text-align: center;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    /* transition: 0.5s ease; */
}

.socialLinks a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    color: var(--light-fc);
    text-decoration: none;
}

.socialLinks a[data-theme="dark"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    color: var(--dark-fc);
}

.socialLinks a:hover {
    color: var(--dark-fc);
}

.socialLinks a:hover[data-theme="dark"] {
    color: white;
}

.socialLinks:hover {
    box-shadow: inset 0 -4.6rem var(--dark-bg);
    transition: .5s ease;
}

.socialLinks:hover[data-theme="dark"] {
    box-shadow: inset 0 -4.6rem var(--light-fc);
}



@media screen and (min-width: 992px) {
    .socials {
        margin: 10px 0px 20px 20px;
       
    }
    
    .socialLinks {
        height: 50px;
        width: 100px;
        text-align: center;
        padding: 0;
        list-style-type: none;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--light-bg);
    }

    .socialLinks[data-theme="dark"] {
        height: 50px;
        width: 100px;
        background-color: var(--dark-bg);
        text-align: center;
        padding: 0;
        list-style-type: none;
        font-size: 18px;
        font-weight: 600;
        border-radius: 7px;
    }
    
    .socialLinks a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: inherit;
        color: var(--light-fc);
    }
}

@media screen and (min-width: 1200px) {

    .socials {
        margin: 10px 0px 20px 20px;
       
    }

    .socialLinks {
        height: 50px;
        width: 100px;
        text-align: center;
        padding: 0;
        list-style-type: none;
        font-size: 18px;
        font-weight: 700;
        background-color: var(--light-bg);
    }

    .socialLinks[data-theme="dark"] {
        height: 50px;
        width: 100px;
        background-color: var(--dark-bg);
        text-align: center;
        padding: 0;
        list-style-type: none;
        font-size: 18px;
        font-weight: 600;
        border-radius: 7px;
    }
    
    .socialLinks a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: inherit;
        color: var(--light-fc);
    }
}