
:root {
    --dark-bg: #181717;
    --dark-fc: #CCC5B9;
    --orange: #EB5E28;
    /* light mode */
    --light-bg: #FFFCF2;
    --light-fc: #403D39;
}

#about {
    padding: 10px 5%;
    width: 85%;
    margin: 25px 20px 0px 20px;
}

.aboutTxt {
    font-size: 30px;
    font-weight: 600;
}

.aboutTxt[data-theme="dark"] {
    color: var(--dark-fc);
}



@media screen and (min-width: 992px) {

    #about {
        width: 85%;
        margin: 25px 20px 0px 20px;
    }
    
    .aboutTxt {
        font-size: 48px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {

    #about {
        width: 85%;
        margin: 25px 20px 0px 20px;
    }
    
    .aboutTxt {
        font-size: 48px;
        font-weight: 600;
    }
}